.window-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: #333;
  width: 100%;
  color: #fff;
  height: 30px;
  user-select: none;
  box-sizing: border-box;
  z-index: 1011;
  position: relative;

  @media (max-width: 700px) {
    top: -1px;
  }
  @media (max-height: 700px) {
    top: -1px;
  }

  .window-title {
    font-weight: bold;
  }

  .window-controls {
    display: flex;

    .control-btn {
      background: none;
      border: none;
      color: #fff;
      font-size: 23px;
      line-height: 1;
      margin-left: 5px;
      padding: 0 5px;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
