.app-container {
  position: absolute;
  z-index: 1009;
  box-sizing: border-box;
  height: calc(100% - 30px);

}

.handle {
  @media (max-width: 700px) {
    display: none;
  }
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
  background-color: #333;
  z-index: 2000;
}
