
.leaflet-container {
  height: 100%;
  width: 100%;
  position: relative;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #000;
  z-index: 1;
}
.primeval-map {
  height: 100%;
  background-color: gray;
  position: relative;
  z-index:1;
  overflow: hidden;
  user-select: text;
}