
.leaflet-container {
  height: 100%;
  width: 100%;
  position: relative;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #000;
  z-index: 1;
  box-sizing: border-box;
}
.primeval-map {
  height: 100%;
  background-color: gray;
  position: relative;
  z-index:1;
  overflow: hidden;
  user-select: text;

  .leaflet-popup {
    z-index:9999!important;
  }

  .leaflet-popup-close-button {
    font-size: 20px;

    & span {
      font-size: 25px;
    }
  }
}