.top-bar {
  position: absolute;
  height: 3rem;
  display: flex;
  justify-content: space-between; /* Keeps items on the edges */
  align-items: center; /* Center items vertically */
  width: 100vw;
  z-index: 1008;
  user-select: none;

  @media (max-height: 500px) {
    display: none;
  }
}
