.gallery {
  width: 100%;
  height: 12rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: green;
  border-radius: 15px;
  overflow: hidden;
  color: white;
  position: relative;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    transform: scale(1);
    transition: opacity 0.5s ease-in-out, transform 7s ease;

    &.active {
      opacity: 1;
      transform: scale(1.1);
    }
  }

  @media (max-height: 800px) {
    height: 5rem;
  }

  @media (max-height: 500px) {
    display: none;
  }
}
