.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f4f6;
  padding: 20px;
  height: 92%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff5ea;
  background-image: url("/home/james/Projects/james/public/assets/bar/texture.png");

  &-interactable {
    cursor: pointer;
  }

  &-content {
    width: 100%;

    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 110px;
      user-select: none;
      pointer-events: none;

      & img {
        height: 100%;
      }
    }

    &-drinks {
      margin-top: 20px;
      background: #ffffff;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-search {
        width: 91%;
        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #ddd;
          border-radius: 8px;
          box-sizing: border-box;
        }
      }

      &-icon {
        width: 6%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      &-table {
        max-height: 300px;
        overflow-y: auto;

        &-row {
          display: flex;
          align-items: center;
          padding: 10px;
          border-bottom: 1px solid #eee;
          cursor: pointer;

          &:hover {
            background-color: #f9f9f9;
          }

          &-name {
            margin-left: 10px;
          }
        }
      }
    }

    &-holder {
      background: #ffffff;
      margin-top: 20px;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      &-subheading {
        color: #333;
        font-weight: bold;
        margin-top: 15px;
      }

      &-cocktail {
        &-value {
          margin-top: 5px;
          b {
            color: #17394c;
          }
        }

        &-ingredients {
          display: flex;
          flex-wrap: wrap;

          &-item {
            background: #123347;
            color: white;
            margin: 5px 5px 0 0;
            padding: 5px 10px;
            border-radius: 20px;
            font-size: 14px;
            font-weight: 800;
          }
        }
      }
    }
  }

  &-music {
    display: flex;
    align-items: center;
    margin-top: 20px;

    svg {
      font-size: 24px;
      color: #091a24;
      margin-right: 10px;
    }

    input[type='range'] {
      width: 100%;
    }
  }
}
