.lock-screen {
  height: 100%;
  width: 100%;
  background-image: url("/assets/wallpapers/default.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1007;

  transition: transform 0.3s ease-in-out;

  user-select: none;

  &-content {
    box-sizing: border-box;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    background-color: rgba(40, 40, 40, 0.5);
    color: white;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
  }

  &.move-up {
    transform: translateY(-100vh);
  }
}
