

@font-face {
  font-family: "SF Pro";
  src: url("/assets/fonts/subset-SFPro-Regular.woff") format("woff"); // 30 kb
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  font-family: "SF Pro";
}

body,
html,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  // font spacing
  letter-spacing: 0.8px;
}

#phone {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

.fade-out {
  animation: fade-out 1s ease-out forwards;
}

@keyframes go-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-500%);
  }
}

.go-up {
  animation: go-up 0.1s ease-out forwards;
}