@font-face {
  font-family: "SF Pro Italic";
  src: url("/assets/fonts/SF-Pro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url("/assets/fonts/SF-Pro.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  font-family: "SF Pro";
}

body,
html,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#phone {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}