.terminal {
  box-sizing: border-box;
  z-index: 0 !important;
  font-size: 16px;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  overflow-y: auto;
  opacity: 0.85;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  overflow-x: hidden;

  .user {
    color: rgb(8, 250, 0);
  }
  .colon {
    color: white;
  }
  .dir {
    color: rgb(40, 149, 252);
  }
  .dollar {
    color: white;
  }
  .command {
    margin-left: 0.5rem;
  }
  .file {
    color: white;
    margin-right: 0.5rem;
  }

  .directory {
    color: rgb(40, 149, 252);
    margin-right: 0.5rem;
  }

  .response {
    color: white;
  }

  .input-line {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 16px;

    .prompt {
      display: flex;
      align-items: center;
    }

    .terminal-input {
      background: none;
      border: none;
      color: white;
      font-size: 16.4px;
      outline: none;
      flex-grow: 1;
      width: auto;
      letter-spacing: 0.5px;
      margin-left: 0.5rem;
      padding: 0;
    }
  }

  .prompt.current-dir {
    color: #ffdd55;
    font-weight: bold;
  }
}
